<div>
  <p>name: {{child.name}}</p>
  <p>language: {{child.language}}</p>
  <p>age: {{child.age}}</p>
  <p>gender: {{child.gender}}</p>
  <p>picture :{{child.picture}}<p>
      <ul>
        {{#each matches_child}}
        <li>{{ this.name}}</li>
        {{/each}}
      </ul>
</div>